<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>QR-Universal Scanner</title>
        <module href="/components/head.html"></module>
    </head>

    <body>
        <h1>QR-Universal Scanner</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-camera-tab" data-bs-toggle="tab" href="#nav-camera" role="tab" aria-controls="nav-camera" aria-selected="true">Camera</a>
            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Clipboard</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-camera" role="tabpanel" aria-labelledby="nav-camera-tab">
                <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)</div>
                <canvas id="canvas" height="480" width="640"></canvas>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
        </div>

        <div id="output">
            <div id="outputMessage">No QR code detected.</div>
            <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
        </div>
        <script src="./bundle.js"></script>
    </body>
</html>