@import 'variables.scss';


body {
    background-color: transparent !important;
}


#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#videoCanvas {
    width: 100%;
}
