@import 'variables.scss';

html {
    height: 100% !important;
}

body {
    background-color: transparent !important;
    height: 100% !important;
}

.root-card-body {
    display: flex;
    flex-direction: column;
}

